In [2]:
import pandas as pd

In [10]:
raw_data = pd.read_clipboard(sep = ' ',header=None)

In [91]:
def pwd_checker_2(raw_df = None):
    # data clean
    df = raw_df[0].str.split("-", n =1, expand = True).rename(columns = {0:'pos_1',1:'pos_2'})
    df['letter'] = raw_df[1].str.strip(":")
    df['pwd'] = raw_df[2]
    df = df.astype({'pos_1':int,'pos_2':int}) 

    # validate
    df['validate'] = df.apply(lambda x: True if (x.pwd[x.pos_1-1] + x.pwd[x.pos_2-1]).count(x.letter) == 1 else False , axis=1)
    return df['validate'].sum()

In [85]:
raw_data

         0   1                    2 min max letter
0     8-11  l:      qllllqllklhlvtl   8  11      l
1      1-3  m:            wmmmmmttm   1   3      m
2      2-4  p:                pgppp   2   4      p
3    11-12  n:         nnndnnnnnnnn  11  12      n
4    17-19  q:  qprqdcgrqrqmmhtqqvr  17  19      q
..     ...  ..                  ...  ..  ..    ...
994   9-11  s:        sssssstsssgss   9  11      s
995    2-6  n:        nnfnpgnnnmnnn   2   6      n
996  15-17  w:    wwwwrswthgwhkwwrw  15  17      w
997    5-9  h:         lbhdhplmbnwh   5   9      h
998    5-6  d:              jdddqqt   5   6      d

[999 rows x 6 columns]

In [92]:
pwd_checker_2(raw_data)

688

In [89]:
pwd = 'cdefg'
letter = 'b'
True if letter in (pwd[1-1] + pwd[3-1]) else False

False